<?php
/*
 Copyright 2009 - 2012 - Etienne 'lenaing' GIRONDEL <lenaing@gmail.com>
 
 FMB :
 ------------
 This software is an homemade PHP Blog engine.
 
 This software is governed by the CeCILL license under French law and
 abiding by the rules of distribution of free software.  You can  use, 
 modify and/ or redistribute the software under the terms of the CeCILL
 license as circulated by CEA, CNRS and INRIA at the following URL
 "http://www.cecill.info". 
 
 As a counterpart to the access to the source code and  rights to copy,
 modify and redistribute granted by the license, users are provided only
 with a limited warranty  and the software's author,  the holder of the
 economic rights,  and the successive licensors  have only  limited
 liability. 
 
 In this respect, the user's attention is drawn to the risks associated
 with loading,  using,  modifying and/or developing or reproducing the
 software by the user in light of its specific status of free software,
 that may mean  that it is complicated to manipulate,  and  that  also
 therefore means  that it is reserved for developers  and  experienced
 professionals having in-depth computer knowledge. Users are therefore
 encouraged to load and test the software's suitability as regards their
 requirements in conditions enabling the security of their systems and/or 
 data to be ensured and,  more generally, to use and operate it in the 
 same conditions as regards security. 
 
 The fact that you are presently reading this means that you have had
 knowledge of the CeCILL license and that you accept its terms.
*/

//$fmbConf['debug'] = true;                          // Enable this to get debug
$fmbConf['url'] = 'http://test.example.info/';

// Portal
$fmbConf['site']['url'] = $fmbConf['url'].'site/';
$fmbConf['site']['title'] = 'My Portal Title';
$fmbConf['site']['slogan'] = 'My Portal Slogan.';

// Themes
$fmbConf['themes_url'] = $fmbConf['url'].'themes/';
$fmbConf['style'] = 'responsive';
// Fallback style for dummy browser...
$fmbConf['fallback'] = 'default';

// Blog
$fmbConf['blog']['url'] = $fmbConf['site']['url'].'blog/';
$fmbConf['blog']['title'] = 'My Blog Title';
$fmbConf['blog']['slogan'] = 'My Blog Slogan.';
$fmbConf['blog']['lastposts'] = 5;                                   // Optional

$GLOBALS['salt'] = 'e8g23ff460a6gfdkc1d725cbf902a76acf06f4f8';

// Plugins ---------------------------------------------------------------------
// Database plugin
$fmbConf['monsterdb']['protocol'] = 'pgsql';
$fmbConf['monsterdb']['user'] = '<user>';
$fmbConf['monsterdb']['password'] = '<password>';
$fmbConf['monsterdb']['host'] = 'tcp(x.x.x.x:1234)';
$fmbConf['monsterdb']['db_name'] = '<database>';

// Template plugin
$fmbConf['skittle']['templates_dir'] = '/path/to/themes/';
$fmbConf['skittle']['compile_dir'] = '/path/to/plugins/Skittle/templates_c';
$fmbConf['skittle']['cache_dir'] = '/path/to/plugins/Skittle/cache';

// Formatting plugin
$fmbConf['baby']['url'] = $fmbConf['themes_url'].$fmbConf['style'].'/';
$fmbConf['baby']['player'] = 'zplayer.swf';

// Caching plugin
$fmbConf['meuhcache']['server'] = '<server>';
$fmbConf['meuhcache']['port'] = <port>;
$fmbConf['meuhcache']['dbexpire'] = 0;    // (in second) 0 means never expire (note: the memcache is flushed every time you do an INSERT, DELETE ou UPDATE in database)
$fmbConf['meuhcache']['expire'] = 0;      // (in second) 0 means never expire
$fmbConf['meuhcache']['prefix'] = 'prod';

// Build enabled plugins list
$fmbConf['plugins']['database'] = array ('MonsterDB');
$fmbConf['plugins']['template'] = array ('Skittle');
$fmbConf['plugins']['caching'] = array ('Meuhcache');
$fmbConf['plugins']['login'] = array ('LDAP');
$fmbConf['plugins']['template_extend'] = array ('YepNope','NiceURL','IdenticonPlugin','highlightjs','ClaudeTag','thumb','jQuery','Hallo','AutoSize','FancyBox','Select2','Upload','Viewer','Lazy','Piwik','Scroll');
$fmbConf['plugins']['formatting'] = array ('ReadMore', 'Baby', 'Daddy', 'TeX', 'Markdown');
$fmbConf['plugins']['captcha'] = array ('FMB_Securimage');

// theme of the highlightjs plugin
$fmbConf['highlightjs']['theme'] = 'tomorrow-night';

// daddy options
$fmbConf['daddy']['remap'] = '^(https?://)?(www\.|blog\.)?example\.com/?(.+)$';
$fmbConf['daddy']['catch'] = 3;
$fmbConf['daddy']['images_dir'] = 'pictures/';
$fmbConf['daddy']['attach_dir'] = 'documents/';
$fmbConf['daddy']['use_handler'] = true;
$fmbConf['daddy']['rewrite_handler'] = 'blog/get-%t-%f';
$fmbConf['daddy']['cache_images'] = true;
$fmbConf['daddy']['lightbox'] = 'FancyBox';
$fmbConf['daddy']['viewer'] = 'Viewer';

$fmbConf['jquery']['adminonly'] = false;

// thumb options
$fmbConf['thumb']['autoreduce'] = 600;

$fmbConf['ldap']['host'] = 'ldaps://ldap.master.example.org';
$fmbConf['ldap']['connect_string'] = 'uid=%u,ou=People,dc=example,dc=org';
$fmbConf['ldap']['filter'] = '(&(activeaccount=1)(webaccount=1)(|(uid=%u)(mail=%u)))';
$fmbConf['ldap']['base'] = 'ou=users,dc=example,dc=org';
?>
